.wrapper {
    padding-top: 15vh;
    min-height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-logo h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    display: inline;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    padding: 0;
}
