@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #eee;
}

.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img{
   height: 15rem;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 4rem;
   color:#444;
}

.container .products-container .product:hover h3{
   color:#27ae60;
}

.add-module-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.add-module-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.add-module-preview .preview.active{
    display: inline-block;
}

.products-preview .preview.active{
    display: inline-block;
}

.add-module-preview .preview img{
    height: 30rem;
    background-color: grey;
    opacity:  0.6;
    cursor: pointer;
}

.add-module-preview .preview img{
    height: 30rem;
    background-color: grey;
    /*opacity:  0.8;*/
    cursor: pointer;
}

.products-preview .preview img{
    height: 30rem;
    background-color: grey;
    opacity:  0.6;
    cursor: pointer;
}

.add-module-preview .preview .fa-upload{
    position: absolute;
    top:16rem; right:15rem;
    cursor: pointer;
    font-size: 10rem;
    opacity: 0.8;
}

.add-module-preview .preview .fa-upload{
    position: absolute;
    top:16rem; right:15rem;
    cursor: pointer;
    font-size: 10rem;
    opacity: 0.8;
}

.products-preview .preview .fa-upload{
    position: absolute;
    top:16rem; right:15rem;
    cursor: pointer;
    font-size: 10rem;
    opacity: 0.8;
}

.add-module-preview .preview .fa-times{
   position: absolute;
   top:0.2rem; right:0.8rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
   z-index: 3;
}

.add-module-preview .preview .fa-times{
   position: absolute;
   top:0.2rem; right:0.8rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
   z-index: 3;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:0.2rem; right:0.8rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
   z-index: 3;
}

.add-module-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.add-module-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.add-module-preview .preview .edit-module-name{
   text-align: center;
   font-size: 2.5rem;
   font-weight: bold;
   border: 1px solid #111;
}

.products-preview .preview .edit-module-name{
   text-align: center;
   font-size: 2.5rem;
   font-weight: bold;
   border: 1px solid #111;
}

.add-module-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.add-module, .back{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:white;
   background: #444;
   border:.1rem solid #444;
   margin-bottom: 10px;
}

.add-module-preview .preview .buttons button{
   width: 50%;
   margin: auto;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons button{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.add-module-preview .preview .buttons button.save{
   background: #444;
   color:#fff;
}

.add-module-preview .preview .buttons button.save:hover{
   background: #111;
}

.products-preview .preview .buttons button.delete{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons button.delete:hover{
   background: #111;
}

.products-preview .preview .buttons button.update:hover{
   background: #444;
   color:#fff;
}

.logoutBtn{
   padding:1rem;
   font-size: 1.8rem;
   background: #444;
   color:#fff;
   border:.1rem solid #444;
   cursor: pointer;
   float: right;
}

.score{
    text-align:center;
    font-size: 2.5rem;
    color:#444;
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}